
  <div class="body">

<div class="rectangle-around">
    <div class="card" >
    
      <div class="card-body">
          <div class="col-md-7">
            <p style="color: #0C747E; font-size: 18px;">Question Body</p>
          </div>
          <div class="choices">
            <div style="display: flex; align-items: flex-start;">
            <input type="radio" name="choice" id="choice-3">
            <label for="choice" style="padding-left: 28px;font-size: 15px; ">CHOICE 1</label><br><br>
         
          </div>
          <div>
            <input type="radio" name="choice" id="choice-3">
            <label for="choice" style="padding-left: 28px; font-size: 15px;">CHOICE 2</label><br><br>
            
          </div>
          <div>
            <input type="radio" name="choice" id="choice-3">
            <label for="choice" style="padding-left: 28px; font-size: 15px;">CHOICE 3</label><br><br>
            
          </div>
          
          </div>
        
          
      </div>
      
    </div>
  </div>
  <div class="save-main">
    <img src="/assets/images/save.png" class="save" alt="">
  </div>
  <div >
    <span class="top-right">
    <img src="/assets/images/eye.png" class="eye" alt="">
    <img src="/assets/images/printer.png" class="printer" alt="">
    <img src="/assets/images/lines.png" class="lines" alt="">
  </span>
  </div>
  
      </div>
    
